::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #004d00;
  border-radius: 10px;
}

.journal {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f5f1;
  padding-top: 15px;
}

.journal-header {
  font-family: "Roboto", sans-serif;
  color: #004d00;
}

.journal-title {
  font-size: 30px;
}

.journal-content {
  height: 530px;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}

.search-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background-color: #004d00;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Filter Buttons */
button {
  border: none;
  outline: none;
  background-color: #004d00;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 15px;
  font-size: 18px;
}

.filter {
  font-family: "Roboto", sans-serif;
  float: right;
  margin-bottom: 10px;
}

button:hover {
  background-color: #386134;
}

/* Plant Grid */
.plants-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  justify-content: center;
  text-align: center;
  padding: 15px 5px;
  overflow-y: auto;
  max-height: 500px;
}

.plant-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  min-width: 100px;
  max-width: 140px;
}

.plant-card:hover{
  box-shadow: 0 0 15px #28a745;
  transform: scale(1.02);
  opacity: 0.9;
}

.plant-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.plant-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  display: block;
}

.plant-name {
  font-size: 18px;
  font-weight: bold;
  color: #004d00;
  margin: 0;
  text-align: center;
}

/* .journal_entry {
  background-color: white;
  position: static;
}

.journal_view {
  background-color: white;
  position: static;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 8px 12px 50px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  background-color: #f0fcf1;
}

ul li.active {
  color: white;
  background-color: #386134;
}

ul li:hover {
  color: white;
  background-color: #386134;
}



div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  display: none;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.card-popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 75px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}

div.card-view {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  display: block;
  width: 300px;
  height: 500px;
} */
