@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.list-container,
.to-do_upcoming, .to-do_today {
  font-family: "Roboto", sans-serif;
  color: #386134;
}

#list-container li {
  font-family: "Roboto", sans-serif;
  color: black;
}

.week {
  width: 100%;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
}

.week h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do {
  padding-left: 10px;
  padding-right: 10px;
}

.to-do_today {
  width: 100%;
  margin: auto;
  background-color: white;
}

.to-do_upcoming {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 10px;
  padding-left: 10px;
  margin: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 14px;
}

.row button {
  border: none;
  outline: none;
  background-color: #386134;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 10px;
  font-size: 16px;
}

.row button:hover {
  background-color: #849884;
}

ul {
  display: flex;
  flex-direction: column;
  /*align-items: start; /* Centers list items horizontally */
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 0px 12px 50px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  background-color: #f0fcf1;
}

.to-do_today li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.to-do_today li.checked {
  align-items: center;
  color: #555;
  text-decoration: line-through;
}

.to-do_today li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0px;
  top: 50%;

  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background-color: #E8F2E9;
  border-radius: 25%;
}

ul li button {
  position: absolute;
  right: 40px;
  top: 50%;

  transform: translateY(-50%);
  border: none;
  background: transparent;
  background-image: url(images/to-do-edit.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li button:hover {
  background-color: #E8F2E9;
  border-radius: 25%;
}

ul li button.editBtn {
  background-image: url(images/edit-done.png);
}
